:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--stone-100);
    font-family: 'Outfit', sans-serif;
    color: var(--stone-900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 1rem;
}

img {
    width: 100%;
    border-radius: 1rem;
}

h1 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    color: var(--stone-900);
    margin-block-end: 0;
}

h2 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    color: var(--brown-800);
    margin-block-end: 0;
}

h3 {
    font-weight: 700;
    color: var(--rose-800);
}

p {
    margin: 1rem 0 2rem;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--stone-150);
    margin: 1.5rem 0;
}

ul,
ol {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-inline-start: 1.5rem;
}

li {
    padding-inline-start: 2rem;
}

li::marker {
    color: var(--brown-800);
}

ol li::marker {
    font-weight: 700;
}

.card {
    width: min(100%, 48rem);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 6rem;
    border-radius: 1.5rem;
}

.child-card {
    width: 100%;
    background-color: var(--rose-50);
    padding: 1.2rem;
    border-radius: 0.8rem;
}

.child-card li::marker {
    color: var(--rose-800);
}

.nutrition-list {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-list tr {
    border-bottom: 1px solid var(--stone-150);
}

.nutrition-list tr:last-child {
    border-bottom: none;
}

.nutrition-list td {
    padding: 1rem 1.5rem;
}

.nutrition-list td:first-child {
    color: var(--stone-600);
}

.nutrition-list td:last-child {
    color: var(--brown-800);
    font-weight: 700;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 37.5rem) {
    body {
        background-color: var(--stone-900);
    }

    footer {
        color: var(--white);
    }

    .card {
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .card-content {
        padding: 2rem;
    }

    .card img {
        border-radius: 0;
    }
}